.loader {
  display: block;
  position: fixed;
  cursor: none;
  top: 0;
  left: 0;
  background-color: $dark;
  width: 100vw;
  height: 100vh;
  z-index: 9999;

  h1.loader-title {
    font-size: 10vw;
    font-family: $playfair;
    font-weight: $bold;
    color: $orange;
    text-align: center;
    padding-top: 30vh;
  }

  h1.loader-title.ready {
    opacity: 0;
    transition: opacity 1.2s;
  }
}

.loader.ready {
  width: 120px;
  transition: width 1s;
  @media only screen and (max-width: 768px) {
    width: 80px;
  }
  @media only screen and (max-width: 425px) {
    width: 0;
    transition: width 0.7s;
  }
}