.about h1, .projects h1, .contact h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 8vh;
  color: #FFC000;
  margin-bottom: 10vh; }

.projects .development h2, .projects .design h2, .contact .mail label, .contact .social h2 {
  font-family: "Raleway", sans-serif;
  font-size: 5vh;
  margin-bottom: 5vh;
  font-weight: 600; }

html {
  height: 100%;
  scroll-behavior: smooth; }

body {
  height: 100%;
  background-color: #fefefe;
  cursor: default;
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth; }

.loader {
  display: block;
  position: fixed;
  cursor: none;
  top: 0;
  left: 0;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  z-index: 9999; }
  .loader h1.loader-title {
    font-size: 10vw;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: #FFC000;
    text-align: center;
    padding-top: 30vh; }
  .loader h1.loader-title.ready {
    opacity: 0;
    transition: opacity 1.2s; }

.loader.ready {
  width: 120px;
  transition: width 1s; }
  @media only screen and (max-width: 768px) {
    .loader.ready {
      width: 80px; } }
  @media only screen and (max-width: 425px) {
    .loader.ready {
      width: 0;
      transition: width 0.7s; } }

.nav {
  display: inline-block;
  position: fixed;
  width: 120px;
  height: 100vh;
  background-color: #000000;
  transition: width 0.5s;
  z-index: 999;
  overflow: hidden;
  cursor: pointer; }
  @media only screen and (max-width: 768px) {
    .nav {
      width: 80px; } }
  @media only screen and (max-width: 425px) {
    .nav {
      display: block;
      width: 100%;
      height: 10vh;
      padding: 3%;
      background-color: #000000;
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      transition: height 0.5s; } }
  .nav .hamburger-bloc {
    display: inline-block;
    height: 100vh;
    width: 120px; }
    @media only screen and (max-width: 425px) {
      .nav .hamburger-bloc {
        width: 100%;
        height: 10vh;
        text-align: center; } }
    .nav .hamburger-bloc .hamburger {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 45px;
      cursor: pointer; }
      @media only screen and (max-width: 768px) {
        .nav .hamburger-bloc .hamburger {
          left: 20px; } }
      @media only screen and (max-width: 425px) {
        .nav .hamburger-bloc .hamburger {
          position: inherit; } }
      .nav .hamburger-bloc .hamburger .bars {
        width: 35px;
        height: 5px;
        background-color: #fefefe;
        margin: 6px 0;
        transition: 0.4s; }
    .nav .hamburger-bloc .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
      background-color: #FFC000;
      transition: 0.4s; }
    .nav .hamburger-bloc .change .bar2 {
      opacity: 0; }
    .nav .hamburger-bloc .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
      background-color: #FFC000;
      transition: 0.4s; }
  .nav .menu-content {
    display: none; }

.nav.active {
  width: 100vw;
  transition: width 0.5s; }
  @media only screen and (max-width: 425px) {
    .nav.active {
      height: 100vh;
      transition: height 0.5s; } }
  .nav.active .menu-content {
    display: inline-block;
    vertical-align: top;
    padding: 100px 0 0 150px;
    margin-right: 10vw; }
    @media only screen and (max-width: 425px) {
      .nav.active .menu-content {
        padding-top: 50px;
        padding-left: 0;
        margin-right: 0; } }
    .nav.active .menu-content a {
      display: block;
      position: relative;
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      color: #fefefe;
      font-size: 10vh;
      transition: all ease-in-out 0.4s;
      margin-bottom: 7vh;
      cursor: pointer; }
      @media only screen and (max-width: 425px) {
        .nav.active .menu-content a {
          display: block;
          font-size: 10vh; } }
    .nav.active .menu-content a:hover {
      color: #FFC000;
      transition: all ease-in-out 0.4s; }
  .nav.active .menu-resume {
    display: inline-block;
    vertical-align: top;
    margin-top: 12vh;
    background-color: #FFC000;
    width: 40vw;
    height: 60vh;
    padding: 50px; }
    @media only screen and (max-width: 425px) {
      .nav.active .menu-resume {
        display: none; } }
    .nav.active .menu-resume h1 {
      font-family: "Playfair Display", serif;
      font-weight: 600;
      font-size: 5vh;
      margin-bottom: 3vh; }
    .nav.active .menu-resume p {
      font-family: "Raleway", sans-serif;
      font-weight: 300;
      font-size: 2vh;
      line-height: 27px;
      margin-bottom: 3vh; }
      .nav.active .menu-resume p a {
        color: #000000;
        text-decoration: none;
        border-bottom: 2px solid #000000;
        cursor: pointer;
        padding-bottom: 2px;
        transition: all 0.2s; }
      .nav.active .menu-resume p a:hover {
        color: #fefefe;
        padding-bottom: 4px;
        transition: all 0.2s; }
    .nav.active .menu-resume span {
      display: block;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 2vh;
      margin-bottom: 2vh; }
      .nav.active .menu-resume span a {
        color: #000000;
        text-decoration: none;
        border-bottom: 2px solid #000000;
        cursor: pointer;
        padding-bottom: 2px;
        transition: all 0.2s; }
      .nav.active .menu-resume span a:hover {
        color: #fefefe;
        padding-bottom: 4px;
        transition: all 0.2s; }
    .nav.active .menu-resume .social {
      display: block;
      text-align: left;
      margin-top: 30px; }
      .nav.active .menu-resume .social span {
        display: block;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 2vh; }
      .nav.active .menu-resume .social a {
        margin-right: 30px;
        transition: all 0.2s; }
        .nav.active .menu-resume .social a .fa-twitter {
          transition: all 0.2s; }
        .nav.active .menu-resume .social a .fa-behance {
          transition: all 0.2s; }
        .nav.active .menu-resume .social a .fa-github {
          transition: all 0.2s; }
      .nav.active .menu-resume .social a:hover .fa-twitter {
        color: #fefefe;
        transition: all 0.2s; }
      .nav.active .menu-resume .social a:hover .fa-behance {
        color: #fefefe;
        transition: all 0.2s; }
      .nav.active .menu-resume .social a:hover .fa-github {
        color: #fefefe;
        transition: all 0.2s; }

.home {
  display: inline-block;
  position: relative;
  width: 90vw;
  height: 100vh;
  padding: 100px;
  margin-left: 10vw;
  vertical-align: top;
  background-color: #fefefe;
  color: #000000; }
  @media only screen and (max-width: 425px) {
    .home {
      margin-left: 10vw;
      padding-left: 0;
      height: 80vh; } }
  .home .title {
    opacity: 0; }
    .home .title h1 {
      font-family: "Playfair Display", serif;
      font-weight: 700;
      font-size: 12vh;
      color: #FFC000; }
      @media only screen and (max-width: 425px) {
        .home .title h1 {
          font-size: 10vh; } }
    .home .title h2 {
      font-family: "Playfair Display", serif;
      font-weight: 400;
      font-size: 8vh;
      margin-bottom: 3vh; }
      @media only screen and (max-width: 425px) {
        .home .title h2 {
          font-size: 6vh; } }
  .home .title.ready {
    opacity: 1;
    transition: 1s all; }
  .home .more {
    display: block;
    width: 100%;
    margin-top: 50vh;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 2vh;
    cursor: pointer; }
    @media only screen and (max-width: 425px) {
      .home .more {
        display: none; } }
    .home .more .more-text {
      text-decoration: none;
      transition: margin 0.3s ease; }
    .home .more .bar {
      display: inline-block;
      vertical-align: middle;
      height: 1px;
      width: 60px;
      border: 1px solid #000000; }
  .home .more:hover .more-text {
    color: #FFC000;
    margin-right: 20px;
    margin-left: 20px;
    transition: all 0.3s ease; }

.about {
  display: block;
  width: 100%;
  height: 100vh;
  padding-top: 5vh;
  padding-left: 17vw;
  padding-right: 17vw;
  background-color: #000000;
  color: #fefefe; }
  @media only screen and (max-width: 768px) {
    .about {
      height: 110vh; } }
  @media only screen and (max-width: 425px) {
    .about {
      padding-left: 5vw;
      height: 150vh; } }
  @media only screen and (max-width: 320px) {
    .about {
      padding-left: 5vw;
      height: 170vh; } }
  .about .text {
    display: block;
    padding-left: 10vw;
    font-family: "Raleway", sans-serif;
    margin-bottom: 10vh; }
    .about .text h2 {
      font-size: 6vh;
      margin-bottom: 3vh;
      font-weight: 600; }
    .about .text p {
      line-height: 27px;
      font-weight: 400; }
      .about .text p a {
        color: #FFC000;
        text-decoration: none;
        border-bottom: 2px solid #FFC000;
        cursor: pointer;
        padding-bottom: 2px;
        transition: all 0.2s; }
      .about .text p a:hover {
        color: #fefefe;
        padding-bottom: 4px;
        transition: all 0.2s; }
      .about .text p strong {
        color: #FFC000; }

.projects {
  display: block;
  width: 100%;
  height: auto;
  background-color: #fefefe;
  margin-top: 5vh;
  padding-left: 17vw;
  padding-right: 17vw;
  margin-bottom: 10vh;
  color: #000000; }
  @media only screen and (max-width: 768px) {
    .projects {
      padding: 0 0 0 10vw; } }
  @media only screen and (max-width: 425px) {
    .projects {
      padding: 0; } }
  .projects h1 {
    text-align: center;
    margin-bottom: 10vh; }
  .projects .development {
    width: 100%;
    margin-bottom: 10vh; }
    @media only screen and (max-width: 768px) {
      .projects .development h2 {
        margin-left: 2vw; } }
    .projects .development .project {
      font-family: "Raleway", sans-serif;
      display: block;
      width: 100%;
      height: 60vh;
      margin-bottom: 5vh;
      background-color: #000000;
      padding: 20px; }
      @media only screen and (max-width: 768px) {
        .projects .development .project {
          height: 70vh; } }
      @media only screen and (max-width: 425px) {
        .projects .development .project {
          height: 90vh;
          padding-left: 20px; } }
      .projects .development .project img {
        display: inline-block;
        width: 55%;
        height: 45vh; }
        @media only screen and (max-width: 425px) {
          .projects .development .project img {
            display: block;
            height: 50%;
            width: 100%;
            margin-bottom: 30px; } }
      .projects .development .project .project-content {
        display: inline-block;
        width: 40%;
        height: 50vh;
        color: #fefefe;
        vertical-align: top;
        padding: 40px 30px 30px; }
        @media only screen and (max-width: 1024px) {
          .projects .development .project .project-content {
            padding: 20px 0 0 20px;
            line-height: 15px; } }
        @media only screen and (max-width: 768px) {
          .projects .development .project .project-content {
            padding: 20px 20px 0;
            line-height: 15px; } }
        @media only screen and (max-width: 425px) {
          .projects .development .project .project-content {
            width: 95%;
            padding: 20px; } }
        .projects .development .project .project-content h3 {
          font-family: "Raleway", sans-serif;
          font-size: 4vh;
          margin-bottom: 5vh;
          font-weight: 600; }
          @media only screen and (max-width: 425px) {
            .projects .development .project .project-content h3 {
              margin-bottom: 3vh; } }
        .projects .development .project .project-content p {
          font-weight: 300;
          line-height: 27px;
          font-size: 2vh;
          margin-bottom: 3vh; }
          @media only screen and (max-width: 425px) {
            .projects .development .project .project-content p {
              line-height: 19px;
              font-size: 12px; } }
        .projects .development .project .project-content a {
          text-decoration: none;
          color: #FFC000;
          border-bottom: 2px solid #FFC000;
          cursor: pointer;
          padding-bottom: 2px;
          transition: all 0.2s; }
        .projects .development .project .project-content a:hover {
          color: #fefefe;
          padding-bottom: 4px;
          transition: all 0.2s; }
    .projects .development .3 img {
      width: 10%;
      height: 20vh; }
  .projects .design {
    width: 100%; }
    @media only screen and (max-width: 768px) {
      .projects .design h2 {
        margin-left: 2vw; } }
    .projects .design .project {
      font-family: "Raleway", sans-serif;
      display: block;
      width: 100%;
      height: 60vh;
      margin-bottom: 5vh;
      background-color: #000000;
      padding: 20px; }
      @media only screen and (max-width: 768px) {
        .projects .design .project {
          height: 70vh; } }
      @media only screen and (max-width: 425px) {
        .projects .design .project {
          height: 85vh; } }
      .projects .design .project img {
        display: inline-block;
        width: 55%;
        height: 45vh; }
        @media only screen and (max-width: 425px) {
          .projects .design .project img {
            display: block;
            height: 50%;
            width: 100%;
            margin-bottom: 40px; } }
      .projects .design .project .project-content {
        display: inline-block;
        width: 40%;
        height: 50vh;
        color: #fefefe;
        vertical-align: top;
        padding: 40px 30px 30px; }
        @media only screen and (max-width: 1024px) {
          .projects .design .project .project-content {
            padding: 20px 0 0 20px;
            line-height: 15px; } }
        @media only screen and (max-width: 768px) {
          .projects .design .project .project-content {
            padding: 20px 20px 0;
            line-height: 15px; } }
        @media only screen and (max-width: 425px) {
          .projects .design .project .project-content {
            width: 95%;
            padding: 0 0 0 20px; } }
        .projects .design .project .project-content h3 {
          font-family: "Raleway", sans-serif;
          font-size: 4vh;
          margin-bottom: 5vh;
          font-weight: 600; }
          @media only screen and (max-width: 425px) {
            .projects .design .project .project-content h3 {
              margin-bottom: 3vh; } }
        .projects .design .project .project-content p {
          font-weight: 300;
          font-size: 2vh;
          line-height: 27px;
          margin-bottom: 3vh; }
          @media only screen and (max-width: 425px) {
            .projects .design .project .project-content p {
              line-height: 19px;
              font-size: 12px; } }
        .projects .design .project .project-content a {
          text-decoration: none;
          color: #FFC000;
          border-bottom: 2px solid #FFC000;
          cursor: pointer;
          padding-bottom: 2px;
          transition: all 0.2s; }
        .projects .design .project .project-content a:hover {
          color: #fefefe;
          padding-bottom: 4px;
          transition: all 0.2s; }
    .projects .design .3 img {
      width: 10%;
      height: 20vh; }

.contact {
  display: block;
  width: 100vw;
  height: 50vh;
  padding-top: 5vh;
  padding-left: 17vw;
  background-color: #FFC000;
  color: #000000; }
  @media only screen and (max-width: 700px) {
    .contact {
      height: 60vh; } }
  @media only screen and (max-width: 425px) {
    .contact {
      padding-left: 12vw;
      height: 70vh; } }
  .contact h1 {
    color: #000000; }
  .contact .mail {
    display: inline-block;
    width: 50%;
    vertical-align: top; }
    @media only screen and (max-width: 700px) {
      .contact .mail {
        display: block;
        margin-bottom: 8vh; } }
    @media only screen and (max-width: 425px) {
      .contact .mail {
        display: block;
        margin-bottom: 8vh; } }
    .contact .mail label {
      color: #000000;
      border-bottom: 3px solid #000000;
      cursor: pointer;
      padding-bottom: 5px;
      transition: all 0.2s; }
    .contact .mail label:hover {
      color: #fefefe;
      padding-bottom: 15px;
      transition: all 0.2s; }
  .contact .social {
    display: inline-block;
    text-align: left; }
    @media only screen and (max-width: 700px) {
      .contact .social {
        display: block; } }
    @media only screen and (max-width: 425px) {
      .contact .social {
        display: block; } }
    .contact .social h2 {
      display: block;
      color: #000000; }
    .contact .social .icons {
      display: block; }
      .contact .social .icons a {
        margin-right: 30px;
        transition: all 0.2s; }
        .contact .social .icons a .fa-twitter {
          transition: all 0.2s; }
        .contact .social .icons a .fa-behance {
          transition: all 0.2s; }
        .contact .social .icons a .fa-github {
          transition: all 0.2s; }
      .contact .social .icons a:hover .fa-twitter {
        color: #fefefe;
        transition: all 0.2s; }
      .contact .social .icons a:hover .fa-behance {
        color: #fefefe;
        transition: all 0.2s; }
      .contact .social .icons a:hover .fa-github {
        color: #fefefe;
        transition: all 0.2s; }

/*# sourceMappingURL=style.css.map */